@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');


.caja {border:1px solid black;
    padding:10px;
    margin:10px;}

body {
    background-color: hsl(215, 100%, 96%);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
    position: relative;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2em;
}



.contenedor {
    position: absolute;
    top: 28%;
    right: 10px;
}

.menu-toggle {
    display: none;
}

.desplegable-icon {
    cursor: pointer;
}
#desplegable a {
    color: #000;
    align-items: right;
    text-decoration: solid;
    text-align: right;


}
#desplegable ul li {
    list-style: none;   
    line-height: 2.5; 
    text-align: center;
    text-justify:distribute;
    padding-right: 10%;

}

#desplegable {

    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgb(254, 232, 208);
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    border-radius: 5%;
    z-index: 1;
    width: 200px;
    padding: 15px 0;
}


.menu-toggle:checked + label + #desplegable {
    display: block;
}


header a #logo {

position: absolute;  /* Posiciona el elemento de manera absoluta */
top: 0;  /* Alinea el elemento con el borde superior de la página */
left: 50%;  /* Posiciona el centro del elemento en el 50% del ancho de la página */
transform: translateX(-50%);  /* Mueve el elemento hacia la izquierda para que quede centrado */

text-align: center;  /* Centra el contenido dentro del contenedor */
padding: 10px;  /* Agrega un poco de espacio alrededor del contenido */

}
header h1 {
font-size:100%;
color:rgb(0, 0, 0);
font-family: 'Cinzel', serif;
text-align: center;
text-decoration: underline;

}
header {  
box-sizing: border-box;
align-items: center;
align-content: center;
text-align: center;
padding:40px;
width:100%;
background-color: rgb(161, 175, 197);
font-size: x-large;
}

#main-content h2 {
text-align: center;
color: rgb(0, 0, 0);
font-size: 50px;
font-variant: small-caps;
text-decoration:underline 5px;

font-family:"Cinzel", sans-serif;
}
#main-content h3 {
text-align: center;
text-decoration: underline;
color: rgb(0, 0, 0);
font-size: 30px;

font-family:"Cinzel", sans-serif;
    }
#main-content h4 {
text-align: center;
color: rgb(0, 0, 0);
font-size: 15px;
text-align: center;
justify-content: center;
font-family:"Cinzel", sans-serif;
    }
#main-content p {   
text-align: center;
text-justify: auto;
font-weight: 1000;
color: black(0,0,0);
font-size: 20px;
font-family:"Cinzel", sans-serif;

}

footer {
border:2px solid white;
width: 80%;
max-width: 5000px;
padding:20px;
border-radius: 8px;
align-items: center;
block-size: auto;
text-align: center;
margin:10%;
position: relative;
min-height: 10%;
align-items: flex-end;
justify-content: center;

background-color: rgb(254, 232, 208);
}

footer a {
color:black;
font-size:18px;
line-height: 0%;
word-spacing: 5px;

}
#content {
margin-top: 20px;
padding: 15px;
border: 1px solid #ccc;
border-radius: 5px;
background-color: #f9f9f9;
}

